name: Release

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  release:
    environment: helm-release
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.5
        id: helm-install
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run chart-releaser
        id: helm-release
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_GENERATE_RELEASE_NOTES: true

      - name: Login to GHCR
        uses: docker/login-action@v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Helm chart to GHCR as OCI artifact
        run: |
          chart_registry="ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts"
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi

            helm push "${pkg}" "oci://${chart_registry}"
          done
          
  ocm:
    needs:
      - release
    name: Release OCM Artifact
    uses: ./.github/workflows/job-ocm.yaml
    secrets: inherit
